<!DOCTYPE html>
<html>
<head>
  <title>Grade Book</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="pull-left">
        <% if user_signed_in? %>
          <%= link_to "Grade Book" , user_courses_path(current_user) %>
        <% else %>
          <%= link_to "Grade Book" , root_path %>
        <% end %>
      </h1>
      <nav>
        <%= yield :add_new %>
        <div class="add pull-right">
          <% if user_signed_in? %>
            <%= link_to "Logout" ,destroy_user_session_path, :method => :delete %>
          <% else %>
            <%= link_to "Login" , new_user_session_path %>
          <% end %>
        </div>
      </nav>
  </header>
  <div class="container content">
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
  <%= yield %>
  </div>

</body>
</html>
