<!DOCTYPE html>
<html>
<head>
  <title>Grade Book</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <div class="container">
      <h1 class="pull-left"> <%= link_to "Grade Book" , courses_path %> </h1>
      <nav>
        <div class="btn-group pull-right">
          <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
            <li><a href="#"><i class="icon-trash"></i> Delete</a></li>
            <li><a href="#"><i class="icon-ban-circle"></i> Ban</a></li>
            <li class="divider"></li>
            <li><a href="#"><i class="i"></i> Make admin</a></li>
          </ul>
        </div>
      <%= yield :add %>
      </div>
    </nav>
  </header>
  <div class="container content">
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
  <%= yield %>
  </div>

</body>
</html>
